.loading-map {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

/* el vh es el viewport height, es decir, la altura de la pantalla, el 100 hace referencia al 100% de la altura de la pantalla */
